body {
    background-color:red;
}

h1 {
    color: #00ffff;
    text-align: center;
}
p {
    text-align: center;
}

.wrapper {
    text-align: center;
}
a href="https://cheesemode.github.io/jakepaulisnotlit/{
    text-align: center;
}
